
$lightBlue: #00B1B2;
$darkBlue: #4988A4;

body {
  background-color: #FCFCFC;
}
.banner {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 300px;
  }
  .logo {
    padding: 10px 10px;
    #darkLogo {
      display: none;
    }
  }
  .searchMob {
    img {
      height: 60px;
      width: auto;
      margin-right: 20px;
    }
    #darkSearch {
      display: none;
    }
  }
  .searchDesk {
    padding: 10px 10px;
    display:none;
    input {
      margin-right: -5px;
      height: 40px;
    }
    button {
      height: 40px;
      background-color: $lightBlue;
      margin-bottom: 3px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    button:hover {
      background-color: $darkBlue;
    }
    button:focus {
      outline-color: red;
    }
    input:focus {
      outline-color: limegreen;
      outline-width: 10px;
      background-color: #04E8E9;
    }
  }
}

h1{
  margin-left: 10px;
  font-size: 80px;
  color: rgb(74,74,74);
}
.btn {
  float: right;
}
.main {
  width: 100%;
  margin-top: 20px;
  img {
    height: 100px;
  }
  a{
    color: black;
  }
    .box {
    color: white;
    width: 80%;
    margin: auto;
    font-size: 60px;
    border-radius: 15px;
    background-color: $lightBlue;
    margin-bottom: 40px;
    border: 2px solid;
    padding: 10px 0;
    animation-timing-function: ease;
    .week {
      color: black;
      font-size: 40px;
    }
    .title {
      text-align: center;
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      p {
        display: flex;
        align-items: center;
      }
    }
  }
  .box:hover {
    cursor: pointer;
  }
  .dropDown {
    display: flex;
    margin-top: 10px;
    background-color: $lightBlue;
    width: 100%;
    border-top: 1px solid white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0px;
    display: none;
    text-align: center;
    img {
      align-items: flex-end;
      height: 50px;
      width: auto;
    }
    a {
      color: white;
      display: flex;
      flex-direction: column;
    }
    .black {
      color: black;
    }
  }
}
#lightTheme {
  display: none;
}
.dark {
  background-color: rgba(35, 35, 35, 1);
  color: white;
  .banner {
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
  }
  .box {
    border: 2px solid white;
  }
  input {
    background-color: lightgray;
  }
}

.light {
  color: black;
}

.footer {
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background-color: rgb(0,93,150);
  img {
    height: 30px;
  }
  img:hover {
    cursor: pointer;
  }
  p {
    float: right;
  }
}


.lessonbox {
color: rgb(74,74,74);
width: 90%;
margin: auto;
font-size: 60px;
margin-bottom: 40px;
padding: 10px 5px;
  p {
    margin-bottom: 30px;
  }
}

.codeBlock {
  border: solid 1px grey;
  background-color: lightgrey;
  font-family: monospace;
  padding: 15px;
}

.back {
  font-size: 40px;
  color: $lightBlue;
  text-decoration: underline;
}
